/* First Section */
.two-lines {
    border-top: 2px solid #000; /* Setting a black color for the border */
    border-bottom: 2px solid #000; /* Setting a black color for the border */
    padding: 2px 0; /* Adding some vertical padding for better spacing */
    margin-bottom: 20px;
}

/* ================== Styles related to the post */
.post-container{
    border: 2px solid black;
    height: 100%;
    width: 98%;
    margin: auto;
    margin-top: 10px;
    border-radius: 3px;
    padding: 8px;
}
.post-container h2{
    border-bottom: 1px solid black;
    width: 98%;
    margin: auto;
    padding-bottom: 3px;
}
.post-container p{
    width: 98%;
    margin: auto;
    margin-top: 4px;
    padding: 10px;
}
.post-container h6{
    width: 98%;
    margin: auto;
    margin-top: 4px;
}

@media (max-width: 768px) {
    header{
        background: linear-gradient(to right, #14ffe9, #ffeb3b, #ff00e0);
    }
}
